
*.mp3
Melory/samples/A\#4.wav
Melory/samples/A4.wav
Melory/samples/A5.wav
Melory/samples/A6.wav
Melory/samples/B4.wav
Melory/samples/B5.wav
Melory/samples/B6.wav
Melory/samples/C\#3.wav
Melory/samples/C3.wav
Melory/samples/C4.wav
Melory/samples/C5.wav
Melory/samples/D\#3.wav
Melory/samples/D3.wav
Melory/samples/D4.wav
Melory/samples/D5.wav
Melory/samples/E3.wav
Melory/samples/E4.wav
Melory/samples/E5.wav
Melory/samples/F\#3.wav
Melory/samples/F3.wav
Melory/samples/F4.wav
Melory/samples/F5.wav
Melory/samples/G\#3.wav
Melory/samples/G3.wav
Melory/samples/G4.wav
Melory/samples/G5.wav
